name: PWN Request

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  pwn:
    runs-on: ubuntu-latest
    env:
      FLAG: ${{ secrets.FLAG }}
    steps:
    - name: Checkout attacker code (VULNERABLE)
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.ref }}
        repository: ${{ github.event.pull_request.head.repo.full_name }}

    - name: Run the app
      run: |
        sh app.sh
